{
    "openapi": "3.0.0",
    "info": {
        "title": "L5 OpenApi",
        "description": "L5 Swagger OpenApi description",
        "contact": {
            "email": "greencode@programming4food.io"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://api.bbvah.com",
            "description": "L5 Swagger OpenApi dynamic host server"
        }
    ],
    "paths": {
        "/api/merchants": {
            "get": {
                "tags": [
                    "Merchants"
                ],
                "summary": "Get List Of Merchants",
                "description": "Regresa el listado de merchants para  ser consultado por el ejecutivo",
                "operationId": "getListMerchants",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MerchantCollection"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            }
        },
        "/merchants": {
            "post": {
                "tags": [
                    "Merchants"
                ],
                "summary": "Add Merchant",
                "description": "Agrega un nuevo merchant",
                "operationId": "postAddMerchant",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            }
        },
        "/merchants/{id}/approvals": {
            "post": {
                "tags": [
                    "Merchants"
                ],
                "summary": "Approval / Reject Merchant",
                "description": "Acepta o rechaza un merchant",
                "operationId": "postMerchantApproval",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Merchant id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            }
        },
        "/merchants/{id}/qr": {
            "post": {
                "tags": [
                    "Merchants"
                ],
                "summary": "Get Merchant QR",
                "description": "Returns qr data",
                "operationId": "getMerchantQR",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Merchant id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            }
        },
        "/api/products": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Get List Of All Products",
                "description": "Regresa el Listado de productos de la bd",
                "operationId": "getAllProducts",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            }
        },
        "/api/products/{id}": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Get List Of All Products of an specified merchant",
                "description": "Regresa el listado de productos de un mercader especifico",
                "operationId": "getAllProductsFromMerchant",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Merchant id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            }
        },
        "/api/product/{id}": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Get one specified Product",
                "description": "El producto del id especificado",
                "operationId": "getProduct",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Product id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Products"
                ],
                "summary": "Delete one specified Product",
                "description": "El producto del id especificado",
                "operationId": "deleteProduct",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Product id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            }
        },
        "/api/product/add": {
            "post": {
                "tags": [
                    "Products"
                ],
                "summary": "Create New Product",
                "description": "Crea un nuevo producto",
                "operationId": "Create New Product",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "Name",
                                        "type": "string"
                                    },
                                    "price": {
                                        "description": "price",
                                        "type": "double"
                                    },
                                    "merchant_id": {
                                        "description": "Merchant Id",
                                        "type": "integer"
                                    },
                                    "picture": {
                                        "description": "Picture",
                                        "type": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            }
        },
        "/api/product/{id}/update": {
            "post": {
                "tags": [
                    "Products"
                ],
                "summary": "Update a Product",
                "description": "Actualiza informacion del  producto",
                "operationId": "updateProduct",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Product id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "Name",
                                        "type": "string"
                                    },
                                    "price": {
                                        "description": "price",
                                        "type": "double"
                                    },
                                    "merchant_id": {
                                        "description": "Merchant Id",
                                        "type": "integer"
                                    },
                                    "picture": {
                                        "description": "Picture",
                                        "type": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            }
        },
        "/api/verify/start": {
            "post": {
                "tags": [
                    "Merchants",
                    "Verify"
                ],
                "summary": "Start Verify Process",
                "description": "Inicia el proceso de verificacion del telefono",
                "operationId": "start Phone Verify",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "properties": {
                                    "country code": {
                                        "description": "country code",
                                        "type": "string"
                                    },
                                    "phone_number": {
                                        "description": "phone_number",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            }
        },
        "/api/verify/verify": {
            "post": {
                "tags": [
                    "Merchants",
                    "Verify"
                ],
                "summary": "Finish Verify Process",
                "description": "Inicia el proceso de verificacion del telefono",
                "operationId": "Confirms SMS Arrival",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "properties": {
                                    "country code": {
                                        "description": "country code",
                                        "type": "string"
                                    },
                                    "phone_number": {
                                        "description": "phone_number",
                                        "type": "string"
                                    },
                                    "token": {
                                        "description": "token",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "Resource Not Found"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Merchant": {
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "MerchantCollection": {
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    }
                },
                "type": "object"
            }
        }
    }
}