container_commands:
  10_migrate:
    command: "php artisan migrate --force"
    cwd: "/var/app/ondeck"
    leader_only: true
  12_cache:
    command: "php artisan cache:clear"
    cwd: "/var/app/ondeck"
  14_permissions:
    # fix permissions on the Laravel app folder
    command: "chmod 777 -R /var/app/ondeck"
    cwd: "/var/app/ondeck"
  15_storelink:
    # generate link for images
    command: "php artisan storage:link"
    cwd: "/var/app/ondeck"
